<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 输出流：控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy年MM月dd日 HH:mm:ss} 当前线程名:【%thread】 %logger{36} 日志级别：%-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>
</configuration>